@font-face {
  font-family: 'Roboto Regular';
  src: url('../../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
}
